.container {
  text-align: center;
  padding: 20px;
}

textarea {
  width: 500px;
  height: 200px;
  border: 3px solid hsl(136, 50%, 50%);
  border-radius: 5px;
  resize: none;
  font-size: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  background-color: hsl(136, 60%, 40%);
  color: #FFF;
}